body {
  background-color: #ffffff;
  color: #444444;
  font-family: "Roboto", "Lato", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.main-text {
  font-size: 16px;
  color: #444444;
  line-height: 27px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color: #444444;
}

input[type='submit'] {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

input[type='submit']:hover {
  cursor: pointer;
}

a[disabled]:hover,
button[disabled]:hover {
  cursor: default;
  pointer-events: none;
}

.top-bar {
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
}

.top-bar__right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-bar__left {
  float: left;
}

.top-bar__company-name {
  display: inline-block;
  font-size: 16px;
}

.top-bar__logo {
  height: 60px;
  display: inline-block;
  margin-right: 10px;
}

.top-bar__company-name, .top-bar__logo {
  vertical-align: middle;
}

.top-bar__list {
  list-style: none;
}

.top-bar__list li {
  display: inline-block;
}

.top-bar__link {
  color: #444;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 3px 5px 3px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-bar__link:hover, .top-bar__link:focus, .top-bar__link:active {
  text-decoration: none;
  border-bottom: 2px solid #3061fc;
}

.user-bar {
  margin-left: 10px;
  margin-right: 20px;
}

.user-bar span, .user-bar p, .user-bar i {
  display: inline-block;
  vertical-align: middle;
}

.user-bar i {
  color: #3061fc;
  margin-top: -2px;
  margin-right: 5px;
}

.blue-button {
  background-color: #3061fc;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border: 2px solid #3061fc;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blue-button:hover, .blue-button:focus {
  cursor: pointer;
  background-color: #b0befd;
  border: 2px solid #b0befd;
  color: #001558;
}

.transparent-button {
  background-color: transparent;
  color: #3061fc;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border: 2px solid #3061fc;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transparent-button:hover, .transparent-button:focus {
  cursor: pointer;
  background-color: #3061fc;
  color: #ffffff;
}

.login-button {
  background-color: #3061fc;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border-radius: 4px;
}

.login-button i {
  vertical-align: text-bottom;
  margin-right: 5px;
  font-size: 17px;
}

.search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters {
  position: absolute;
  right: 0;
}

.filters__button {
  background-color: transparent;
  color: #3061fc;
  font-size: 14px;
  padding: 7px 20px;
  border: 1px solid #3061fc;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.filters__button:hover, .filters__button:focus, .filters__button:active {
  background-color: #3061fc;
  color: #ffffff;
}

.filters__bubble {
  font-size: 14px;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 100%;
  z-index: 2;
  margin-top: 20px;
  padding: 15px 30px;
}

.filters .triangle {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -10px;
}

.filters .triangle--sort {
  left: 65%;
}

.filters .triangle--filter {
  left: 3%;
}

.filter-name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0px;
}

.filter-list {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.filter__input {
  opacity: 0;
  cursor: pointer;
  z-index: 9;
  width: 0;
}

.filter__icon {
  height: 15px;
  z-index: 1;
  stroke: rgba(0, 0, 0, 0.54);
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 48;
}

.filter__icon, .filter__pseudo-label {
  vertical-align: middle;
}

.filter__label {
  cursor: pointer;
}

.filter__label:hover, .filter__label:focus, .filter__label:active {
  color: #3061fc;
}

.filter__label:hover .filter__icon, .filter__label:focus .filter__icon, .filter__label:active .filter__icon {
  stroke: #b0befd;
}

.bubble__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: none;
  outline: none;
  width: 20px;
  fill: #444444;
}

.bubble__close-btn:hover {
  cursor: pointer;
  fill: #3061fc;
}

.search__input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  border-bottom: 2px solid #3061fc;
}

.search__input:focus {
  outline: none;
}

.autocomplete {
  /*   &__outside {
    background: #000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1; 
  } */
}

.autocomplete__wrapper {
  position: absolute;
  z-index: 3;
  background-color: #ffffff;
  width: 220px;
  border-top: none;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.autocomplete__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete__list li {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

.autocomplete__list li button {
  border: 1px solid #ffffff;
  background: #ffffff;
  margin: 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.autocomplete__list li button:hover, .autocomplete__list li button:focus {
  background: #b0befd;
  color: #001558;
  outline: none;
  border: 1px solid #b0befd;
  cursor: pointer;
}

.thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.thumbs__thumb {
  background: #ffffff;
  width: 30%;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 345px;
}

.thumb__top {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}

.thumb__bottom {
  padding: 15px;
}

.thumb__logo {
  width: 55px;
}

.thumb__name {
  font-weight: 500;
  margin-bottom: 5px;
}

.thumb__city, .thumb__price {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.thumb__list {
  list-style: none;
}

.thumb__description {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 50px;
}

.thumb__button {
  background-color: #3061fc;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 20px;
  border-radius: 4px;
  position: absolute;
  bottom: 5%;
  left: 15px;
  text-decoration: none;
}

.top__left {
  display: inline-block;
  width: 15%;
}

.top__right {
  display: inline-block;
  width: 80%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__button-wrapper {
  display: block;
}

.pagination__button {
  font-size: 16px;
  background-color: #ffffff;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid transparent;
  color: #444444;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pagination__button i {
  margin: 0;
  padding: 0;
}

.pagination__button.active {
  border-bottom: 2px solid #3061fc;
}

.pagination__button:hover {
  outline: none;
  border-bottom: 2px solid #3061fc;
  cursor: pointer;
}

.chevron-btn {
  border-bottom: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 1px;
}

.chevron-btn:hover {
  border-bottom: none;
}

.chevron-btn:hover svg {
  stroke: #b0befd;
}

.login {
  margin: 30px 0;
  width: 315px;
}

.login__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 60px 0 0 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  width: 500px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login__box--top {
  padding: 0 90px 30px 90px;
}

.login__box--bottom {
  padding: 30px 90px;
  border-top: 1px solid #dddddd;
}

.login__group {
  margin-bottom: 25px;
}

.login__group label {
  width: 40%;
  display: inline-block;
  font-size: 12px;
}

.login__group input[type='email'],
.login__group input[type='password'],
.login__group input[type='text'] {
  color: #444444;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #b0befd;
  width: 100%;
  font-size: 16px;
  padding: 15px 5px 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login__group input[type='email']:focus, .login__group input[type='email']:hover, .login__group input[type='email']:active,
.login__group input[type='password']:focus,
.login__group input[type='password']:hover,
.login__group input[type='password']:active,
.login__group input[type='text']:focus,
.login__group input[type='text']:hover,
.login__group input[type='text']:active {
  outline: none;
  border-bottom: 2px solid #3061fc;
}

.login__text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.login input[type='submit'] {
  padding: 6px 24px;
  border-radius: 3px;
  margin-top: 17px;
  margin-bottom: 8px;
}

.login__register-link {
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-top: 5px;
  color: #3061fc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login__register-link:hover, .login__register-link:focus {
  color: #001558;
}

.login__error-message {
  border: 4px solid rgba(255, 166, 0, 0.61);
  background: #ffffff;
  border-radius: 2px;
  padding: 3px 10px;
  text-align: center;
  position: relative;
}

.login__error-message p {
  font-size: 14px;
  line-height: 20px;
  color: #001558;
}

.error-message__triangle {
  width: 20px;
  height: 20px;
  background: rgba(255, 166, 0, 0.61);
  position: absolute;
  z-index: -1;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.c-profile__location {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
}

.c-profile__title {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-profile__title--edit {
  margin-top: 55px;
}

.c-profile__title img, .c-profile__title div {
  display: block;
}

.c-profile__title img {
  margin-top: 22px;
}

.c-profile__title h1 {
  margin-bottom: 5px;
}

.c-profile__title img {
  margin-right: 45px;
  height: 80px;
  width: 80px;
}

.c-profile__flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 45px;
}

.c-profile__basic-data {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-profile__basic-data > div {
  display: block;
}

.c-profile__basic-data .price-wrapper {
  width: 29%;
  text-align: center;
}

.basic-data__description {
  width: 60%;
  padding-right: 80px;
  border-right: 1px solid #dddddd;
  padding-bottom: 20px;
  padding-top: 5px;
}

.basic-data__price p, .basic-data__price span {
  vertical-align: middle;
}

.basic-data__price p {
  font-size: 25px;
  font-weight: 300;
}

.basic-data__price p span {
  font-weight: 500;
  font-size: 55px;
  display: inline-block;
  margin-top: -7px;
}

.flex-list__item {
  width: 400px;
  margin-bottom: 15px;
}

.flex-list__item .sublist {
  margin: 0;
  padding: 0;
  margin-left: 85px;
}

.flex-list__item .sublist li {
  margin-bottom: 15px;
}

.flex-list__item .sublist li::marker {
  color: #b0befd;
}

.flex-list__item i, .flex-list__item p {
  display: inline-block;
  vertical-align: middle;
}

.flex-list__item .checkmark {
  color: #3061fc;
  font-size: 36px;
  margin-right: 20px;
}

.flex-list__item p {
  line-height: 24px;
  max-width: 80%;
}

.flex-list__item p span {
  color: rgba(0, 0, 0, 0.54);
}

.contact_us-button {
  margin-top: -20px;
}

.sublist--edit {
  list-style: none;
}

.add-company__input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  border-bottom: 2px solid #b0befd;
}

.add-company__input:focus {
  outline: none;
}

.add-company__textarea {
  border: none;
  font-family: "Roboto", "Lato", sans-serif;
  resize: vertical;
  overflow: hidden;
  background-color: #f0f3ff;
}

.add-company__textarea:focus {
  outline: none;
}

.add-company__name {
  font-size: 25px;
  font-weight: 700;
  color: #444444;
  height: auto;
  padding-bottom: 8px;
}

.add-company__city {
  min-width: 265px;
}

.add-company__autocomplete {
  min-width: 265px;
  max-height: 200px;
  overflow-y: scroll;
}

.add-company__description {
  width: 100%;
  width: 450px;
  min-height: 200px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-company__price {
  font-size: 28px;
  font-weight: 700;
  color: #444444;
  font-family: "Roboto", "Lato", sans-serif;
}

.add-city-btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
  padding: 5px 15px;
  border: 1px solid #3061fc;
  border-radius: 2px;
}

.add-city-btn__wrapper {
  text-align: center;
}

.company-description__wrapper {
  height: 100%;
  text-align: center;
}
/*# sourceMappingURL=app.css.map */