body {
  background-color: #ffffff;
  color: #444444;
  font-family: "Roboto", "Lato", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.top-bar {
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 10px 0;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
}

.top-bar__right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-bar__left {
  float: left;
}

.top-bar__company-name {
  display: inline-block;
  font-size: 16px;
}

.top-bar__logo {
  height: 60px;
  display: inline-block;
  margin-right: 10px;
}

.top-bar__company-name, .top-bar__logo {
  vertical-align: middle;
}

.top-bar__list {
  list-style: none;
}

.top-bar__list li {
  display: inline-block;
}

.top-bar__link {
  color: #444;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 3px 5px 3px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-bar__link:hover, .top-bar__link:focus, .top-bar__link:active {
  text-decoration: none;
  border-bottom: 2px solid #3061fc;
}

.top-bar .login-button {
  background-color: #3061fc;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border-radius: 4px;
}

.search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters {
  position: absolute;
  right: 0;
}

.filters__button {
  background-color: transparent;
  color: #3061fc;
  font-size: 14px;
  padding: 7px 20px;
  border: 1px solid #3061fc;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.filters__button:hover, .filters__button:focus, .filters__button:active {
  background-color: #3061fc;
  color: #ffffff;
}

.filters__bubble {
  font-size: 14px;
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 100%;
  z-index: 2;
  margin-top: 20px;
  padding: 15px 30px;
}

.filters .triangle {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -10px;
}

.filters .triangle--sort {
  left: 65%;
}

.filters .triangle--filter {
  left: 3%;
}

.filter-name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0px;
}

.filter-list {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.filter__input {
  opacity: 0;
  cursor: pointer;
  z-index: 9;
  width: 0;
}

.filter__icon {
  height: 15px;
  z-index: 1;
  stroke: rgba(0, 0, 0, 0.54);
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-width: 48;
}

.filter__icon, .filter__pseudo-label {
  vertical-align: middle;
}

.filter__label {
  cursor: pointer;
}

.filter__label:hover, .filter__label:focus, .filter__label:active {
  color: #3061fc;
}

.filter__label:hover .filter__icon, .filter__label:focus .filter__icon, .filter__label:active .filter__icon {
  stroke: #b0befd;
}

.bubble__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: none;
  outline: none;
  width: 20px;
  fill: #444444;
}

.bubble__close-btn:hover {
  cursor: pointer;
  fill: #3061fc;
}

.search__input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  border-bottom: 2px solid #3061fc;
}

.search__input:focus {
  outline: none;
}

.autocomplete__wrapper {
  position: absolute;
  z-index: 3;
  background-color: #ffffff;
  width: 220px;
  border-top: none;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.autocomplete__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete__list li {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightblue;
}

.autocomplete__list li button {
  border: 1px solid #ffffff;
  background: #ffffff;
  margin: 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.autocomplete__list li button:hover, .autocomplete__list li button:focus {
  background: #b0befd;
  color: #001558;
  outline: none;
  border: 1px solid #b0befd;
}

.autocomplete__outside {
  background: #000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.thumbs__thumb {
  background: #ffffff;
  width: 300px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 345px;
}

.thumb__top {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}

.thumb__bottom {
  padding: 15px;
}

.thumb__logo {
  width: 55px;
}

.thumb__name {
  font-weight: 500;
  margin-bottom: 5px;
}

.thumb__city, .thumb__price {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.thumb__list {
  list-style: none;
}

.thumb__description {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 50px;
}

.thumb__button {
  background-color: #3061fc;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 20px;
  border-radius: 4px;
  position: absolute;
  bottom: 5%;
  left: 15px;
  text-decoration: none;
}

.top__left {
  display: inline-block;
  width: 15%;
}

.top__right {
  display: inline-block;
  width: 80%;
}
/*# sourceMappingURL=app.css.map */