$roboto-font: 'Roboto', 'Lato', sans-serif;

$blue: #3061fc;
$midnight-blue: #001558;
$blue-lilac: #b0befd;
$primary-text: #444444;
$secondary-text: rgba(0, 0, 0, 0.54);
$very-light-grey: #dddddd;

body {
  background-color: #ffffff;
  color: $primary-text;
  font-family: $roboto-font;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.main-text {
  font-size: 16px;
  color: $primary-text;
  line-height: 27px;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  color: $primary-text;
}

input[type='submit'] {
  box-shadow: none;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}


//TOP BAR 
.top-bar {
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 10px 0;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);

  &__right {
    //float: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__left {
    float: left;
  }

  &__company-name {
    display: inline-block;
    font-size: 16px;
  }

  &__logo {
    height: 60px;
    display: inline-block;
    margin-right: 10px;
  }

  &__company-name,
  &__logo {
    vertical-align: middle;
  }

  

  &__list {
    list-style: none;

    li {
      display: inline-block;
    }
  }

  &__link {
    color: #444;
    text-decoration: none;
    margin-right: 10px;
    padding: 0 3px 5px 3px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      border-bottom: 2px solid $blue;
    }
  }
}

.user-bar {
  margin-left: 10px;
  margin-right: 20px;

  span, p, i {
    display: inline-block;
    vertical-align: middle;
  }

    i{
      color: $blue;
      margin-top: -2px;
    }
}

//MAIN VIEW
.blue-button {
  background-color: $blue;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border: 2px solid $blue;
  border-radius: 4px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $blue-lilac;
    border: 2px solid $blue-lilac;
    color: $midnight-blue;
  }
}

.transparent-button {
  background-color: transparent;
  color: $blue;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border: 2px solid $blue;
  border-radius: 4px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $blue;
    color: #ffffff;
  }
}

.login-button {
  background-color: $blue;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 20px;
  margin-right: 0;
  border-radius: 4px;

  i {
    vertical-align: text-bottom;
    margin-right: 5px;
    font-size: 17px;
  }
}

.search-options {
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center;
}

.filters {
  position: absolute;
  right: 0;

  &__button {
    background-color: transparent;
    color: $blue;
    font-size: 14px;
    padding: 7px 20px;
    border: 1px solid $blue;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: $blue;
      color: #ffffff;
    }
  }

  &__bubble {
    font-size: 14px;
    position: absolute;
    background-color: #ffffff;
    //position: relative;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
    padding: 15px 30px;
  }

  .triangle {
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    z-index: -1;
    //border: 1px solid grey;
    box-shadow: -3px -1px 5px 0px rgba(0, 0, 0, 0.1);
    transform: rotate(45deg);
    top: -10px;

    &--sort {
      left: 65%;
    }

    &--filter {
      left: 3%;
    }
  }
}

.filter-name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0px;
}

.filter-list {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.filter {
  &__input {
    //width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
    width: 0;
  }

  &__icon {
    height: 15px;
    z-index: 1;
    stroke: $secondary-text;
    fill: none;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    stroke-width: 48; 
  }

  &__pseudo-label {
    
  }

  &__icon,
  &__pseudo-label {
    vertical-align: middle;
  }

  &__label {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $blue;

      .filter__icon {
        stroke: $blue-lilac;
      }
    }
  }

}

.bubble {
  &__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: none;
    outline: none;
    width: 20px;
    fill: $primary-text;

    &:hover {
      cursor: pointer;
      fill: $blue;
    }
  }
}

.search {
  &__input-wrapper {
    //z-index:5; 
    //margin-top: -31px; 
    //position:absolute;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 32px;
    border-bottom: 2px solid $blue;

    &:focus {
      outline: none;
    }
  }
}

.autocomplete {
  &__wrapper {
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
    width: 220px;
    border-top: none;
    border-left: 1px solid $very-light-grey;
    border-right: 1px solid $very-light-grey;
    border-bottom: 1px solid $very-light-grey;
    border-radius: 0 0 4px 4px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: lightblue;

      button {
        border: 1px solid #ffffff;
        background: #ffffff;;
        margin: 0;
        width: 100%;
        font-size: 14px;
        text-align: left;
        padding: 5px 10px;
        outline: none;
        transition: all 0.3s;

        &:hover,
        &:focus {
          background: $blue-lilac;
          color: $midnight-blue;
          outline: none;
          border: 1px solid $blue-lilac;
          cursor: pointer;
        }
      }
    }

  }

/*   &__outside {
    background: #000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1; 
  } */
}

.thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  &__thumb {
    background: #ffffff;
    //width: 300px;
    width: 30%;
    margin-bottom: 50px;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
    position: relative;
    height: fit-content;
    min-height: 345px;
  }
}

.thumb {
  &__top {
    border-bottom: 1px solid $very-light-grey;
    padding: 15px;
  }

  &__bottom {
    padding: 15px;
  }

  &__logo {
    width: 55px;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__city,
  &__price {
    font-size: 13px;
    color: $secondary-text;

  }

  &__list {
    list-style: none;
  }

  &__description {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 50px;
  }

  &__button {
    background-color: $blue;
    color: #ffffff;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 4px;
    position: absolute;
    bottom: 5%;
    left: 15px;
    text-decoration: none;
  }
}

.top {
  &__left {
    display: inline-block;
    width: 15%;
  }

  &__right {
    display: inline-block;
    width: 80%;
  }
}

.pagination {
  list-style: none;
  padding-left: 0;

  &__button-wrapper {
    display: inline-block;
  }

  &__button {
    font-size: 16px;
    background-color: #ffffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid transparent;
    color: $primary-text;
    z-index: 3;
    transition: all 0.3s;

    svg {
      height: 16px;
      margin: 0;
      padding: 0;
      fill: none;
      stroke: currentColor;
      stroke-linecap: square;
      stroke-miterlimit: 10;
      stroke-width: 48;
      vertical-align: middle;
    }

    &.active {
      border-bottom: 2px solid $blue;
    }

    &:hover {
      outline: none;
      border-bottom: 2px solid $blue;
      cursor: pointer;
    }
  }
}

.chevron-btn {
  border-bottom: none; 
  transition: all 0.3s;
}

.chevron-btn:hover {
  border-bottom: none; 
  svg {
    stroke: $blue-lilac;
  }
}


//LOGIN VIEW
.login {
  margin: 30px 0;
  //min-width: 300px;
  width: 315px;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 60px 0 0 0;
    background: #ffffff;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    width: 500px;
    transform: translate(-50%, -50%);
  }

  &__box {
    //width: 520px;

    &--top {
      padding: 0 90px 30px 90px;
    }

    &--bottom {
      padding: 30px 90px;
      border-top: 1px solid #dddddd;
    }
  }

  &__group {
    margin-bottom: 25px;

    label {
      width: 40%;
      display: inline-block;
      font-size: 12px;
    }

    input[type='email'],
    input[type='password'],
    input[type='text'] {
      color: $primary-text;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom: 2px solid $blue-lilac;
      width: 100%;
      font-size: 16px;
      padding: 15px 5px 5px 0;
      transition: 0.3s;

      &:focus,
      &:hover,
      &:active {
        outline: none;
        border-bottom: 2px solid $blue;
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  input[type='submit'] {
    padding: 6px 24px;
    border-radius: 3px;
    margin-top: 17px;
    margin-bottom: 8px;
  }

  &__register-link {
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
    color: $blue;
    transition: all 0.3s;

    &:hover,
    &:focus {
      color: $midnight-blue;
    }
  }

  &__error-message {
    border: 4px solid rgba(255, 166, 0, 0.61);
    background: #ffffff;
    border-radius: 2px;
    padding: 3px 10px;
    text-align: center;
    position: relative;

    p {
      font-size: 14px;
      line-height: 20px;
      color: $midnight-blue;
    }
  }
}

.error-message {
  &__triangle {
    width: 20px;
    height: 20px;
    background: rgba(255, 166, 0, 0.61);
    position: absolute;
    z-index: -1;
    top: -13px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

.c-profile {
  &__location {
    font-size: 17px;
    color: $secondary-text;
    font-weight: 400;
  }

  &__title {
    margin-top: 20px;
    display: flex;

    img, div {
      display: block;
    }

    img {
      margin-top: 22px;
    }

    h1 {
      margin-bottom: 5px;
    }

    img {
      margin-right: 45px;
      height: 80px;
      width: 80px;
    }
  }

  &__flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 45px;
  }

  &__basic-data {
    margin-top: 30px;
    display: flex;

    & > div {
      display: block;
    }

    .price-wrapper {
      //position: relative;
      width: 29%;
      text-align: center;
    }
  }
}

.basic-data {

  &__description {
    width: 60%;
    //padding-right: 25px;
    padding-right: 80px;
    border-right: 1px solid $very-light-grey;
    padding-bottom: 20px;
    padding-top: 5px;

  }

 

  &__price {
    p, span {
      vertical-align: middle;
    }

    p {
      font-size: 25px;
      font-weight: 300;

      span {
        font-weight: 500;
        font-size: 55px;
        display: inline-block;
        margin-top: -7px;
      }
    }
  }
}

.flex-list {
  &__item {
    //width: 50%;
    width: 400px;
    margin-bottom: 15px;

     .sublist {
      margin: 0;
      padding: 0;
      margin-left: 85px;

       li {
        margin-bottom: 15px;

        &::marker {
          color: $blue-lilac;
        }
       }
     }

    i, p {
      display: inline-block;
      vertical-align: middle;
    }

    .checkmark {
      color: $blue;
      font-size: 36px;
      margin-right: 20px;
    }

    p {
      line-height: 24px;
      max-width: 80%;

      span {
        color: $secondary-text;
      }
    }
  }
}

.contact_us-button {
  margin-top: -20px;
}

